<p align="center">
  <%= link_to image_tag(tijuanarb.png), root_path %>
</p>
<%= render(:partial => "/shared/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
